@model IEnumerable<SistemaLoja.Models.TipoDocumento>

@{
    ViewBag.Title = "Index";
}

<h2>Tipo de Documento</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TipoDocumentoId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TipoDocumentoId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.TipoDocumentoId })
        </td>
    </tr>
}

</table>
